section {
  height: 450px;
  width: 100%;
  display: inline-block;
  background-image: url("./assets/img/header-photo_pv.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
* {
  padding: 0px;
  margin: 0px;
}
.header-section {
}

.page-title {
  align-content: center;
}
